Source: utah
Section: utils
Priority: optional
Maintainer: Engin Polat <polatengin@hotmail.com>
Build-Depends: debhelper-compat (= 13), make
Standards-Version: 4.5.0

Package: utah
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utah is a tool for managing and automating tasks in software development.
 Utah is a versatile tool designed to streamline software development processes. It provides a range of features for
 task management, automation, and integration with various development tools.
