Source: utah
Section: utils
Priority: optional
Maintainer: Engin Polat <polatengin@hotmail.com>
Build-Depends: debhelper-compat (= 13), make
Standards-Version: 4.5.0

Package: utah
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CLI transpiler that converts TypeScript-like .shx files to bash scripts
 A versatile transpiler designed to streamline shell script development by converting
 TypeScript-like .shx files into optimized bash scripts. It provides a range of features for
 task management, automation, and integration with various development tools.
