#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make test

override_dh_auto_build:
	make build

override_dh_auto_test:
	make test

override_dh_dwz:
	# Skip dwz compression for .dotnet executables (no DWARF debug info)
